{{#if resume.interests.length}}
<section id="interests" class="flex flex-wrap border-t border-dashed border-gray-500 mt-2 pt-2">
	<h2 class="text-lg font-bold w-full pb-2 {{#lang 'zh'}}md:w-16 md:pb-0 print:w-16 print:pb-0{{/lang}}">{{i18n 'interests'}}</h2>
	<div class="wrap">
		{{#each resume.interests}}
		<span>
			{{#if name}}
			{{name}}
			{{/if}}
			{{#if keywords.length}}
			<span class="keywords">
				{{#each keywords}}
				<em>{{.}}</em>
				{{#unless @last}}，{{/unless}}
				{{/each}}
			</span>
			{{/if}}
		</span>
		{{#unless @last}}<span class="mx-1">|</span>{{/unless}}
		{{/each}}
	</div>
</section>
{{/if}}