{{#if resume.languages.length}}
<section id="languages" class="flex flex-wrap border-t border-dashed border-gray-500 mt-2 pt-2">
	<h2 class="text-lg font-bold w-full pb-2 {{#lang 'zh'}}md:w-16 md:pb-0 print:w-16 print:pb-0{{/lang}}">{{i18n 'languages'}}</h2>
	<div class="wrap">
		{{#each resume.languages}}
		<span class="mr-2">
			{{#if language}}
			{{language}}
			{{/if}}
			{{#if fluency}}
			<span class="text-gray-500">{{fluency}}</span>
			{{/if}}
		</span>
		{{#unless @last}}<span class="mx-1">|</span>{{/unless}}
		{{/each}}
	</div>
</section>
{{/if}}