{{#if resume.skills.length}}
<section id="skills" class="flex flex-wrap border-t border-dashed border-gray-500 mt-2 pt-2">
	<h2 class="text-lg font-bold w-full pb-2 md:w-16 md:pb-0 print:w-16 print:pb-0">技能</h2>
	<ul class="wrap">
		{{#each resume.skills}}
		<li class="item">
			{{#if name}}
			<span class="name">
				{{name}}
			</span>
			{{/if}}
			{{#if level}}
			<em>{{level}}</em>
			{{/if}}
			{{#if keywords.length}}
			<span class="keywords">
				{{#each keywords}}
				{{.}}
				{{/each}}
			</span>
			{{/if}}
		</li>
		{{/each}}
	</ul>
</section>
{{/if}}